remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: aqua #"default" "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"

title: " "
subtitle : 
logo : "/assets/images/Logo Chemiotic.png"
email: gianmarco.polotti@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
repository: "chemiotic/chemiotic.github.io"
words_per_minutes: 200
comments:
  provider  : "staticman_v2"
  staticman:
    branch    : "master"
    staticman_url: https://chemiotic-blog.herokuapp.com/v2/entry/chemiotic/chemiotic.github.io/master/comments
reCaptcha:
   siteKey: 6LfUZq0ZAAAAAO-mdQbEVIk-bUfVpIagT_6CQUbE
   secret: p/fYhnT5x2DfTtjsN7rU3WKu2R5JMbp2/bRxaZsLOEpX4dLOTokT5WymIRj9xVMGZqKRdGThw6O9vQ7sqN8mfEtWceD7T/i/TkMvz+edOmu47DhEVxPyloVAQM8au9Ac9p2nlM6xPTkShBBs4LShk3J7qg3fg65LRzB7ApXF5QvhWf061yR5We8teLLgVe9CXlYE/QalTMtz/gjL6xvnU21FRK/N/1WwoWGzf7dkZXYxaXGQ9D+MjzRxSGPjyeYZ5hyJFxr7aZhEZY78ovMGCRNFIZUQtAP3u8W927d1Qd/JsjAD/rwUsSuQfZJPfb0PbtnN0PzRc65MjVD9ZofkAEZtQxr3BgLGWtdJ8iQl/p48SOvHOibiNCBA6Wjd8+Siu2u5k4pxDReYb7MGx7f9wdeEhulPlbzIIByOKIhdk3pqQmHtlOZMnoAWz4NcUF2DqxXl85Cp+F1pc6kMnag5vKW32/2cQwZtcGiE98cCznjeHjoJB1+J5nm/aadH9qq8+aerrNjYW0nyHiz/ZUw2Brw/AiTK1WFafBzhtNGBf6zjNG9HSCRgpzI+dX5KyTYJw5A8j2X/8cwzLy16Et+5CKRmD+rZR+Pv6Y7CqKXby7LSgxRwZF3azZTCExys5+BE6vSrwoQgdbiyyATxQS+xLfF/OI/aLvUXNR1Ug81sQQU=

# Social Sharing
twitter_username: username
github_username: chemiotic
search: true

# Build settings
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - .htaccess
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   :
  avatar :
  bio    :
  location:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/chemiotic/chemiotic.github.io"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/chemiotic/chemiotic.github.io"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/"

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

defaults:
  # all
  - scope:
      path: ""
    values:
      layout: single
      author_profile: false
      class: wide
      title: " "
      title_separator: "|"
  # _posts
  - scope:
      type: posts
    values:
      comments: true
      layout: single
      author_profile: false
      class: wide
      read_time: true
      share: true
      related: true
      sidebar:
        nav: "docs"
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false
  # _docs
  - scope:
      path: ""
      type: docs
    values:
      excerpt: ""



